server:
  port: 8083

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: auth_user
    password: strongpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
#      mode: always
      mode: never
      schema-locations: classpath:schema.sql
      continue-on-error: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: "my-super-secure-jwt-secret-key-32-bytes-long!!"
  expiration: 86400000

internal:
  secret: ${GATEWAY_SECRET:gateway-secret-123}