# Maven
**/target/
**/.mvn/wrapper/maven-wrapper.jar

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store

# Env
.env