server:
  port: 8081

spring:
  application:
    name: upi-service

  datasource:
    url: jdbc:postgresql://localhost:5432/upi_service_db
    username: upi_user
    password: upi_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect


eureka:
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1

  client:
    service-url:
      defaultZone: http://localhost:8761/eureka